/* --------------- */
/* --- Layout ---- */
* html #minwidth {
	border-left:700px solid #fff; 
	position:relative; 
	float:left; 
	z-index:1;
	background:#e4e4e4;
}
* html #holder {
	margin-left:-700px; 
	position:relative; 
	float:left; 
	z-index:2; 
	text-align:left;
	background:#e4e4e4;
}
*
body {
	background: #f3f3f3 url(../images/bg_top.jpg) repeat-x;
	color: #bebebe;
	padding:0 20px;
	font-family:Verdana;
	font-size: 16px;
}
#wrapper {
	background:#fff;
	padding:0 0 0px;
	/* width:100%; */
	width:1000px;
	margin:0 auto;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
}
p.last {margin:0px;}

a img {
	border: none;
}

a 
{
	color: #f00;
	text-decoration: none;
}

.butn {
	-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background-color:#fa665a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #98231a;
}.butn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background-color:#d34639;
}.butn:active {
	position:relative;
	top:1px;
}

.butn_bright {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.butn_bright:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.butn_bright:active {
	position:relative;
	top:1px;
}

.butn_cyan {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.butn_cyan:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.butn_cyan:active {
	position:relative;
	top:1px;
}

table 
{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  rgba(247,247,247,1) 0%, rgba(247,247,247,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(247,247,247,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(247,247,247,1) 0%,rgba(247,247,247,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(247,247,247,1) 0%,rgba(247,247,247,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(247,247,247,1) 0%,rgba(247,247,247,0) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(247,247,247,1) 0%,rgba(247,247,247,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#00f7f7f7',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

form input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 22px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin-top: -4px; /* Fixes aligment with A elements*/
}
form input[type="submit"]:hover {
	background-color:#dfdfdf;
}
form input[type="submit"]:active {
	position:relative;
	top:1px;
}

form input[type="text"], form input[type="password"]
{
	background: white;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD inset;
	color: #666;
	padding: 3px 0px;
	outline: none;
	text-align: center;
	color: #888;
	font-family: Ariel;
}
textarea
{
	border: 1px solid #cccccc;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}
/* ---------------- */
/* ---- Header ---- */
#header {
	margin:0;
	padding:5px;
	font-size: 12px;
	background: #f3f3f3 url(../images/bg_top.jpg) repeat-x;
	color: #bebebe;	
}
a.logo {
	display:block;
	float:left;
	padding:4px 0 0 0; 
	text-decoration: none; 
	color: #fff;
}
a.logo:hover {color: #999;}
a.header_link { color: #f00;}
a.header_link:hover {color: #fff;}

/* ------------------------ */
/* ---- Navigation bar ---- */
#menu {
	width:100%;
	height:30px;
	background:#000 url(../images/menu.png) repeat-x;
	position:relative;
	border-top: 1px solid #444444;
	border-bottom:1px solid #767778;
}
#menu ul {
	position:absolute;
	top:0;
	left:0;
	margin:0;
}
#menu ul li {
	display:block;
	height:25px;
	float:left;
	position:relative;
	background:none;
	margin:0;
	padding:0;
}
#menu ul li a {
	font-family:Arial, sans-serif;
	font-size:12px;
	display:block;
	float:left;
	height:28px;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	padding:0 15px;
}
#menu ul li a span {
	display:block;
	float:left;
	cursor:pointer;
	margin:8px 0 0;
}
#menu ul li a:hover,#menu ul li.hover a {
	background-color: #222;
}
#menu ul li a.selected {	
	background-color: #555555;
}
#menu .menu_side {	
	float: right;
	display: inline;
	padding-top: 6px;	
	font-size: 12px;
	font-weight:700;
}
#menu .menu_side a {
	color: #fff;
	text-decoration: none;	
	padding: 5px 8px;
	margin-right: 10px;
	background: url(../images/menu_arrow.png) repeat-x center 23px;
}
#menu .menu_side a:hover {
	color: #eee;
	text-decoration: none;	
	padding: 5px 8px;
	margin-right: 10px;
	background: url(../images/menu_arrow.png) repeat-x center 22px;
}

/* ----------------- */
/* ---- Dropdown ----*/

#menu ul li ul {
	position:absolute;
	padding-top: 30px;
	z-index: 999;	
}
#menu ul li ul li {
	width:200%;
	background-color: #222; 
	text-align: center;
	font-size: 10px;
	margin-top: -5px;
	padding-bottom: 5px;
}
#menu ul li ul li:hover a {background: none; color: #f00; }
#menu ul li:hover {background-color: #222; }

#menu ul li ul li.wrapup
{
	height: 10px;
}

#menu ul li ul.fallback {display:none;}
#menu ul li:hover ul.fallback {display:block;}


/* ------------------------------- */
/* ---- Body - basic splitting ----*/
div.main_third {
	float: left;
	width: 30%;
	padding: 5px 1%;
	margin: .5%;
	background-color: #fafafa;
	color: #444;
	border: 1px solid #dedede;
	overflow: auto;
	
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
}

div.main_half {
	float: left;
	width: 46%;
	padding: 5px 1%;
	margin: .7%;
	background-color: #fafafa;
	color: #444;
	border: 1px solid #dedede;
	overflow: auto;
	
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

div.main_third h1, div.main_half h1 {
	font-size: 14px;
	background-color: #fff;
	padding: 3px 10px;
	color: #555;
	text-shadow: #fff 1px 1px 1px;
}

div.main_full {		
	padding: 10px;
	background-color: #fafafa;
	color: #444;
	border: 1px solid #dedede;
	clear: both;
	margin: 10px 0;
	overflow: auto;
	
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(45deg,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

/* -------------------- */
/* ---- Breadcrumbs ----*/
#breadcrumbs-one{
	background: #eee;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5 #e5e5e5 #ccc;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	overflow: hidden;
	width: 100%;
}
#breadcrumbs-one li{
	float: left;
}
#breadcrumbs-one a{
	padding: .7em 1em .7em 2em;
	float: left;
	text-decoration: none;
	color: #444;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background-color: #ddd;
	background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}
#breadcrumbs-one li:first-child a{
	padding-left: 1em;
	border-radius: 5px 0 0 5px;
}
#breadcrumbs-one a:hover{
	background: #fff;
}
#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;   
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid;
	right: -1em;
}
#breadcrumbs-one a::after{ 
	z-index: 2;
	border-left-color: #ddd;  
}
#breadcrumbs-one a::before{
	border-left-color: #ccc;  
	right: -1.1em;
	z-index: 1; 
}
#breadcrumbs-one a:hover::after{
	border-left-color: #fff;
}
#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
	font-weight: bold;
	background: none;
}
#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
	content: normal;  
}

/* ----------------------- */
/* ---- Message box's ---- */
.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size: 12px;
	text-align: center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/alerts/info.png');
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../images/alerts/success.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/alerts/warning.png');
}
.error {
	color: #888;
	background-color: #fafafa;
	background-image: url('../images/alerts/error.png');
}

/* -------------------- */
/* ---- Pagination ---- */
.pagination {   
    padding: 10px;
	margin-top: 10px;
    margin-bottom: 20px;	
}

.page {
    display: inline-block;
    padding: 2px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);	
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

/* -------------- */
/* ---- Body ---- */
.body {
	padding:10px;
	margin:0px;
	position:relative;
	border:1px solid #e4e4e4;
	border-top:0px;
	border-bottom:0px;
}

/* --------------------- */
/* ---- Body-Footer ---- */
#body_footer {
	width:100%;
	height:10px;
	font-size:0px;
	background:#fff url(../images/footer_bg.png) repeat-x bottom left;
}
#body_footer #bottom_left,#body_footer #bottom_right {
	width:100%;
	height:10px;
}
#body_footer #bottom_left {
	background:url(../images/footer_bl.png) no-repeat bottom left;
	margin:0px;
	padding:0px;
}
#body_footer #bottom_right {
	background:url(../images/footer_br.png) no-repeat top right;
	margin:0px;
	padding:0px;
}

/* ---------------- */
/* ---- Footer ---- */
#footer {
	text-align:center;
	width:100%;
	padding:5px 0 5px 0;
	background:transparent;
}
#footer p {
	font-size:11px;
}

#footer a {
	color: #b81111;
	text-decoration: none;
}
#footer a:hover {
	color: #444;
}

/*------------------*/
/* ---- Global ---- */
.right{ float: right;}
.left { float: left;}
.clear,br {clear:both;font-size:0px;display:block;}
.clearfix {clear:both; margin-bottom: 20px;}
.font_small {font-size: 10px; }
.color_red { color: #ff0000 }
.color_green { color: #00bb3e }
.color_dark { color: #444444 } 




